*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}

#wrapper{
    width: 760px;
    margin: 0 auto;
}

#max{
    position: absolute;
}
#max img{
    width: 40px;
    height: 40px;
}

.max_lives{
    margin: 0 20px;
}

#score_board{
    height: 50px;
    width: 756px;
    background-color: lightgray;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    border: 2px blue solid;
}

.score_board_panel{
    display: inline-block;
    width: 48%;
}

.splash_screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .5);
    text-align: center;
    vertical-align: middle;
    font-size: 100px;
    font-weight: bold;
    color: white;
    visibility: hidden;
}

.splash_screen .inner{
    color: black;
    display: inline-block;
    background-color: rgba(255,255,255,1);
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid sandybrown;
}

#start_splash_screen img{
    margin-top: 150px;
    width: 500px;
}

#level_screen{
    padding-top: 200px;
}

#level_text{
    width: 100%;
    color: orangered;
}

#level_cleared{
    padding-top: 200px;
}

#game_over{
    padding-top: 200px;
}

#game_over .play_again{
    color: whitesmoke;
    font-size: 40px;
    background-color: cornflowerblue;
    padding: 10px 0;
}

#game_over .play_again:hover{
    color: white;
    cursor: pointer;
    background-color: dodgerblue;
}

.square{
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
}

.wall{
    background: url("images/brick_wall.jpeg")
}

.blank{
    background-color: black;
}

.diamond_square{
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    background-color: black;
}

.blue_diamond{
    margin-top: 10px;
    width: 20px;
    height: 20px;
}

.rainbow_diamond{
    margin-top: 7px;
    width: 30px;
    height: 30px;
}

.monster{
    position: absolute;
}
.monster img{
    width: 40px;
    height: 40px;
}

.look_up{
    transform: rotate(-90deg);
}
